#header {
	padding: 10px 10px 10px 15px;

	i {
		font-size: 1.2rem;
	}

	.title {
		font-size: 1.5rem;
		font-weight: bold;
		margin-top: 3px;
	}
}

@media screen and (min-width: 600px) {
	#header {
		padding: 10px;
		margin-left: 300px;

		.title { font-size: 1.8rem }
	}
}

@media screen and (min-width: 1200px) {
	#header {
		.title { font-size: 3rem }
	}
}